<nav class="navbar navbar-expand-lg bg-body" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse position-relative" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="/">Agenda</a>
          </li>

          <% if (user) {%>
          <li class="nav-item">
            <a class="nav-link position-absolute top-50 end-0 translate-middle-y" href="/login/logout">Logout</a>
            <a class="nav-link position-absolute top-50 end-50 translate-middle-y" href="/login/index">Profile</a>
          </li>
          <% } else {%>
            <li class="nav-item">
              <a class="nav-link position-absolute top-50 end-0 translate-middle-y" href="/login/index">Login</a>
            </li>
            <% } %>

        </ul>
      </div>
    </div>
  </nav>